/vendor/

######################
# ECLIPSE PDT
######################
.settings
.buildpath
.project

######################
# COMPOSER
######################
composer.lock

######################
# SUBLIME TEXT
######################
*.sublime-project
.phpintel
phpclass.sublime-classdb