/vendor/
/build/
/tests/data/queue-delete.log
/tests/data/queue.log

######################
# ECLIPSE PDT
######################
.settings
.buildpath
.project

######################
# COMPOSER
######################
composer.lock

######################
# SUBLIME TEXT
######################
*.sublime-project
*.sublime-workspace
.phpintel
phpclass.sublime-classdb