<phpunit bootstrap="vendor/autoload.php" stopOnFailure="true">
  <php>
    <const name="SKYHUB_EMAIL" value="glauber.oculosecia@skyhub.com.br" />
    <const name="SKYHUB_TOKEN" value="2RDxTmtLWmxQPk2zR8x3" />
    <const name="TEST_ORDER_CODE" value="Submarino-1489193272469" />
  </php>
	<filter>
	  <whitelist processUncoveredFilesFromWhitelist="true">
	    <directory suffix=".php">tests</directory>
	  </whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
  <testsuites>
    <testsuite name="SkyHub">
      <directory>tests</directory>
      <!-- isolation tests -->
      <!-- <file>tests/Integration/CategoryTest.php</file> -->
      <!-- <file>tests/Integration/OrderTest.php</file> -->
    </testsuite>
  </testsuites>
</phpunit>